


h2{
    color: red;
}

input:hover::placeholder{
    color: blue !important;
    
}

input::placeholder{
    color: white !important;
}

#menu{
    margin-top: 20%;
    text-align: center;
    height: 50px;;
}

#menu .col{
    margin: 5%;
    padding: 5%;
    transition: 1s;
}



#menu .col a {
    text-decoration: none;
    color: red;
}

#menu .col a:hover {
   
    color: blue;
}